# Wordlwide Food Production and Consumption

## Objectives:
Data wrangling:
   - data assessment
   - data cleaning
   - data organization and transformation

#### Data source [kaggle.com](https://www.kaggle.com/datasets/dorbicycle/world-foodfeed-production?select=FAO.csv)

1. Data wrangling

In [1]:
#Import necessary libraries for data wrangling
import pandas as pd
import numpy as np
import warnings

###### Obtain original dataset

In [2]:
#Start index from 1 -->
or_df=pd.read_csv('FAO.csv', encoding='latin1').shift()[1:]

###### Obtain population dataset

In [3]:
#Read normalized dataset
or_df1=pd.read_csv('FoodBalanceSheetsHistoric_E_All_Data_(Normalized).csv', encoding='latin1').shift()[1:]

###### Transform population DataFrame

In [4]:
#Normalize or_df1 to bear only relevant data
#drop irrelevant columns
dropped_columns = ['Area Code', 'Item Code', 'Element Code','Element','Year Code','Unit','Flag']
or_df1.drop(dropped_columns, axis=1, inplace = True)
or_df1

,Area,Item,Year,Value
1,Afghanistan,Population,1961.0,8954.00
2,Afghanistan,Population,1962.0,9142.00
3,Afghanistan,Population,1963.0,9340.00
4,Afghanistan,Population,1964.0,9547.00
5,Afghanistan,Population,1965.0,9765.00
...,...,...,...,...
11486887,Net Food Importing Developing Countries,Miscellaneous,2008.0,0.01
11486888,Net Food Importing Developing Countries,Miscellaneous,2009.0,0.01
11486889,Net Food Importing Developing Countries,Miscellaneous,2010.0,0.01
11486890,Net Food Importing Developing Countries,Miscellaneous,2011.0,0.01
11486891,Net Food Importing Developing Countries,Miscellaneous,2012.0,0.01

In [5]:
#Strip all items other than population related data
df1=or_df1.loc[or_df1.Item == 'Population']

In [37]:
#Rename some columns
warnings.filterwarnings('ignore')
df1.rename(columns = {'Area':'Country', 'Item':'Pop', 'Value':'Population(1000 ppl)'}, inplace = True)
df1.columns

Index(['Country', 'Pop', 'Year', 'Population(1000 ppl)'], dtype='object')

###### Transform Original(FAO) DataFrame

In [7]:
#Create a copy of the dataset to work on
df=or_df

In [8]:
df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
1,AFG,2.0,Afghanistan,2511.0,Wheat and products,5142.0,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810.0,4895.0
2,AFG,2.0,Afghanistan,2805.0,Rice (Milled Equivalent),5142.0,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425.0,422.0
3,AFG,2.0,Afghanistan,2513.0,Barley and products,5521.0,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367.0,360.0
4,AFG,2.0,Afghanistan,2513.0,Barley and products,5142.0,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78.0,89.0
5,AFG,2.0,Afghanistan,2514.0,Maize and products,5521.0,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200.0,200.0

In [9]:
#List all the columns
df.columns

Index(['Area Abbreviation', 'Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'latitude', 'longitude', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')

##### Assessment deductions(FAO DF):
    - There are unnecessary columns in the DF
    - Melt down our DF after dropping unnecessary columns
    - Create column(s)
    - Create and categorize 'Item' in the DF
    - Rename some columns

In [10]:
#Drop unnecessary columns
drop_columns=['Area Abbreviation', 'Area Code', 'Item Code',
       'Element Code', 'Unit', 'latitude', 'longitude']
df.drop(drop_columns, axis=1, inplace=True)

In [11]:
#Tranform and organize the DF into a more readable format
keep_columns=['Area', 'Item', 'Element']
df=pd.melt(df, id_vars=keep_columns, var_name='Year',value_name='Weight(1000 tonnes)').shift()[1:]

In [12]:
#Strip 'Y' character from the values of 'Year' column. Leave the column values as of integer format
df.Year=df.Year.str.strip('Y').astype(int)

#Confirm the outcome
df.head()

          Area                      Item Element  Year  Weight(1000 tonnes)
1  Afghanistan        Wheat and products    Food  1961               1928.0
2  Afghanistan  Rice (Milled Equivalent)    Food  1961                183.0
3  Afghanistan       Barley and products    Feed  1961                 76.0
4  Afghanistan       Barley and products    Food  1961                237.0
5  Afghanistan        Maize and products    Feed  1961                210.0

In [13]:
#Check for null items
df.loc[df.Item.isnull()]

Empty DataFrame
Columns: [Area, Item, Element, Year, Weight(1000 tonnes)]
Index: []

In [14]:
'''
Group Items into relevant categories
'''
#Identify unique food and feeds
df.Item.unique()

array(['Wheat and products', 'Rice (Milled Equivalent)',
       'Barley and products', 'Maize and products', 'Millet and products',
       'Cereals, Other', 'Potatoes and products', 'Sugar cane',
       'Sugar beet', 'Sugar (Raw Equivalent)', 'Sweeteners, Other',
       'Honey', 'Pulses, Other and products', 'Nuts and products',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palm Oil', 'Sesameseed Oil', 'Olive Oil', 'Oilcrops Oil, Other',
       'Tomatoes and products', 'Vegetables, Other',
       'Oranges, Mandarines', 'Citrus, Other', 'Bananas',
       'Apples and products', 'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Pepper', 'Spices, Other', 'Wine', 'Beer',
       'Beverages, Alcoholic', 'Bovine Meat', 'Mutton & Goat Meat',
       'Poultry Meat', 'Meat, Other', 'Offals, Edible', 'Butter, Ghee',
       'Cream', 'Fats, Animals, Raw', 'Eggs', 'Milk - Excluding Butter',
       'Freshwater Fish', 'Infant food', 'Cereals - Excluding Beer',
       'Starchy Roots', 'Sugar Crops', 'Sugar & Sweeteners', 'Pulses',
       'Treenuts', 'Oilcrops', 'Vegetable Oils', 'Vegetables',
       'Fruits - Excluding Wine', 'Stimulants', 'Spices',
       'Alcoholic Beverages', 'Meat', 'Offals', 'Animal fats',
       'Fish, Seafood', 'Miscellaneous', 'Rye and products', 'Oats',
       'Sorghum and products', 'Cassava and products', 'Sweet potatoes',
       'Roots, Other', 'Beans', 'Peas', 'Soyabeans',
       'Groundnuts (Shelled Eq)', 'Rape and Mustardseed',
       'Oilcrops, Other', 'Maize Germ Oil', 'Onions',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Plantains', 'Pimento', 'Beverages, Fermented', 'Pigmeat',
       'Fish, Body Oil', 'Fish, Liver Oil', 'Demersal Fish',
       'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods',
       'Molluscs, Other', 'Aquatic Animals, Others', 'Aquatic Plants',
       'Aquatic Products, Other', 'Palm kernels', 'Coconut Oil', 'Cloves',
       'Palmkernel Oil', 'Yams', 'Sunflower seed', 'Cottonseed',
       'Sugar non-centrifugal', 'Ricebran Oil', 'Meat, Aquatic Mammals'],
      dtype=object)

In [15]:
#Rename some specific items
df['Item'].replace({'Rice (Milled Equivalent)': 'Rice-Milled Equivalent','Sugar (Raw Equivalent)':'Sugar-Raw Equivalent','Olives (including preserved)':'Olives-Including Preserved','Grapes and products (excl wine)':'Grapes and Products-Excluding Wine','Tea (including mate)':'Tea-Including Mate','Groundnuts (Shelled Eq)':'Groundnuts-Shelled Eq'},inplace=True)

In [16]:
#Create the categories
grains=['Wheat and products', 'Rice-Milled Equivalent','Barley and products','Maize and products',
          'Millet and products','Cereals, Other','Cereals - Excluding Beer','Rye and products','Oats',
          'Sorghum and products','Cassava and products']

vegetables=['Potatoes and products','Vegetables, Other','Starchy Roots','Vegetables','Sweet potatoes',
              'Roots, Other','Onions','Plantains','Pimento','Aquatic Plants','Yams']

sugars=['Sugar-Raw Equivalent','Sweeteners, Other','Sugar Crops',
                      'Sugar & Sweeteners','Sugar non-centrifugal','Sugar beet','Sugar cane']

fruits=['Olives-Including Preserved','Tomatoes and products','Oranges, Mandarines','Citrus, Other',
          'Bananas','Apples and products','Pineapples and products','Dates','Grapes and Products-Excluding Wine',
          'Fruits, Other','Fruits - Excluding Wine','Lemons, Limes and products',
             'Grapefruit and products']

legumes=['Pulses, Other and products','Coffee and products','Cocoa Beans and products','Pulses',
          'Beans','Peas','Soyabeans','Groundnuts-Shelled Eq']

seeds=['Sesame seed', 'Rape and Mustardseed',
              'Palm kernels','Sunflower seed','Cottonseed']

nuts=['Nuts and products','Coconuts - Incl Copra','Treenuts']

oils_fats=['Soyabean Oil','Groundnut Oil','Sunflowerseed Oil','Rape and Mustard Oil','Cottonseed Oil',
        'Palm Oil','Sesameseed Oil','Olive Oil','Oilcrops Oil, Other','Oilcrops','Vegetable Oils',
        'Oilcrops, Other','Maize Germ Oil','Coconut Oil','Palmkernel Oil','Ricebran Oil',
           'Fish, Body Oil','Fish, Liver Oil','Animal fats','Fats, Animals, Raw']

beverages=['Tea-Including Mate','Wine','Beer','Beverages, Alcoholic',
             'Alcoholic Beverages','Beverages, Fermented']

spices=['Pepper','Spices, Other','Spices','Cloves']

meat=['Bovine Meat','Mutton & Goat Meat','Meat, Other','Meat','Pigmeat']

sea_food=['Freshwater Fish','Fish, Seafood','Demersal Fish','Pelagic Fish','Marine Fish, Other','Crustaceans',
                'Cephalopods','Molluscs, Other','Aquatic Animals, Others','Aquatic Products, Other','Meat, Aquatic Mammals']

dairy=['Butter, Ghee','Cream','Milk - Excluding Butter','Infant food']

poultry=['Eggs','Poultry Meat']

other_animal_products=['Honey','Offals','Offals, Edible']

miscellaneous=['Stimulants','Miscellaneous']

In [17]:
# Introduce regex to validate our group inputs and pattern matching
grains = '|'.join(grains)
vegetables = '|'.join(vegetables)
sugars= '|'.join(sugars)
fruits = '|'.join(fruits)
legumes = '|'.join(legumes)
seeds = '|'.join(seeds)
nuts = '|'.join(nuts)
oils_fats = '|'.join(oils_fats)
beverages = '|'.join(beverages)
spices = '|'.join(spices)
meat = '|'.join(meat)
sea_food = '|'.join(sea_food)
dairy = '|'.join(dairy)
poultry = '|'.join(poultry)
other_animal_products = '|'.join(other_animal_products)
miscellaneous = '|'.join(miscellaneous)

In [18]:
#Check regex pattern output
grains

'Wheat and products|Rice-Milled Equivalent|Barley and products|Maize and products|Millet and products|Cereals, Other|Cereals - Excluding Beer|Rye and products|Oats|Sorghum and products|Cassava and products'

In [19]:
#Create group names to assign each category
#'Ignore' warning --> [SettingWithCopyWarning] by using 'warnings' to ilter them out
warnings.filterwarnings('ignore')
df["Category"] = ""
df["Category"][df['Item'].str.contains(beverages)] = "Beverages"
df["Category"][df['Item'].str.contains(grains)] = "Grains"
df["Category"][df['Item'].str.contains(fruits)] = "Fruits"
df["Category"][df['Item'].str.contains(vegetables)] = "Vegetables"
df["Category"][df['Item'].str.contains(sugars)] = "Sugars & Sweeteners"
df["Category"][df['Item'].str.contains(legumes)] = "Legumes"
df["Category"][df['Item'].str.contains(seeds)] = "Seeds"
df["Category"][df['Item'].str.contains(nuts)] = "Nuts"
df["Category"][df['Item'].str.contains(oils_fats)] = "Oils & Fats"
df["Category"][df['Item'].str.contains(spices)] = "Spices"
df["Category"][df['Item'].str.contains(meat)] = "Meat"
df["Category"][df['Item'].str.contains(sea_food)] = "Seafood"
df["Category"][df['Item'].str.contains(dairy)] = "Dairy"
df["Category"][df['Item'].str.contains(poultry)] = "Poultry"
df["Category"][df['Item'].str.contains(other_animal_products)] = "Other animal products"
df["Category"][df['Item'].str.contains(miscellaneous)] = "Miscelaneous"

In [20]:
df.head()

,Area,Item,Element,Year,Weight(1000 tonnes),Category
1,Afghanistan,Wheat and products,Food,1961,1928.0,Grains
2,Afghanistan,Rice-Milled Equivalent,Food,1961,183.0,Grains
3,Afghanistan,Barley and products,Feed,1961,76.0,Grains
4,Afghanistan,Barley and products,Food,1961,237.0,Grains
5,Afghanistan,Maize and products,Feed,1961,210.0,Grains

In [21]:
# Check if all 'Item' are categorised
df.loc[df.Category == '']['Item'].value_counts()

Series([], Name: Item, dtype: int64)

In [22]:
#Rename 'Area' column
df.rename(columns = {'Area':'Country', 'Element':'Type'}, inplace = True)

In [24]:
#About the new clean dataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138227 entries, 1 to 1138227
Data columns (total 6 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Country              1138227 non-null  object
 1   Item                 1138227 non-null  object
 2   Type                 1138227 non-null  object
 3   Year                 1138227 non-null  int32
 4   Weight(1000 tonnes)  1020777 non-null  float64
 5   Category             1138227 non-null  object
dtypes: float64(1), int32(1), object(4)
memory usage: 47.8+ MB

###### Merge the 2 DFs

In [27]:
#Merge df & df1
#Store them in df2
df2 = pd.merge(df, df1, on=['Country','Year'], how = 'left').shift()[1:]

In [34]:
#Rearrange DF columns
columns_titles = ['Country', 'Item', 'Type', 'Category', 'Weight(1000 tonnes)', 'Population(1000 ppl)', 'Year']

df2 = df2.reindex(columns=columns_titles)
df2

,Country,Item,Type,Category,Weight(1000 tonnes),Population(1000 ppl),Year
1,Afghanistan,Wheat and products,Food,Grains,1928.0,8954.0,1961.0
2,Afghanistan,Rice-Milled Equivalent,Food,Grains,183.0,8954.0,1961.0
3,Afghanistan,Barley and products,Feed,Grains,76.0,8954.0,1961.0
4,Afghanistan,Barley and products,Food,Grains,237.0,8954.0,1961.0
5,Afghanistan,Maize and products,Feed,Grains,210.0,8954.0,1961.0
...,...,...,...,...,...,...,...
1138222,Zimbabwe,Animal fats,Food,Oils & Fats,20.0,14150.0,2013.0
1138223,Zimbabwe,Eggs,Food,Poultry,25.0,14150.0,2013.0
1138224,Zimbabwe,Milk - Excluding Butter,Feed,Dairy,31.0,14150.0,2013.0
1138225,Zimbabwe,Milk - Excluding Butter,Food,Dairy,451.0,14150.0,2013.0
1138226,Zimbabwe,"Fish, Seafood",Feed,Seafood,15.0,14150.0,2013.0

In [35]:
#The DF is now ready for analysis
#Save the DF as 'Food_agriculture_data'

df2.to_csv('Food_agriculture_data.csv', encoding='latin1')